*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bg-color: #121213;
  --key-color: #818384;
  --absent-color: #3a3a3c;
  --present-color: #b59f3b;
  --correct-color: #538d4e;
}

body {
  background-color: var(--bg-color);
  font-size: clamp(0.7em, 2.5vw, 1.25em);
  height: 100vh;
  position: absolute;
}

.container {
  padding: 1rem 0 2rem 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header {
  color: white;
  font-size: 3em;
  letter-spacing: 0.1em;
  font-weight: bold;
  width: 100vw;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #888888;
}

.container .grid-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (4em)[5];
      grid-template-columns: repeat(5, 4em);
  -ms-grid-rows: (4em)[6];
      grid-template-rows: repeat(6, 4em);
  gap: 0.5em;
  color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.container .grid-box .tile {
  border: 0.05em solid #404040;
  font-size: 2.5em;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .keyboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 1.15em))[20];
      grid-template-columns: repeat(20, minmax(auto, 1.15em));
  grid-auto-rows: 3.5em;
  gap: 0.35em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

.container .keyboard .key {
  grid-column: span 2;
  background-color: var(--key-color);
  border: none;
  border-radius: 0.25em;
  color: white;
  fill: white;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .keyboard .key-enter,
.container .keyboard .key-exit {
  grid-column: span 3;
}

.container .grid-box .absent,
.container .keyboard .absent {
  background-color: var(--absent-color);
  border: none;
}

.container .grid-box .present,
.container .keyboard .present {
  background-color: var(--present-color);
  border: none;
}

.container .grid-box .correct,
.container .keyboard .correct {
  background-color: var(--correct-color);
  border: none;
}

.endscreen {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.755);
  color: white;
  text-align: center;
}

.endscreen h1 {
  width: 55%;
  font-size: 3em;
}

.endscreen .try-again {
  background-color: var(--key-color);
  border: none;
  border-radius: 0.25em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
  padding: 1em 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.endscreen.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */