*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

:root {
  --bg-color: #121213;
  --key-color: #818384;
  --absent-color: #3a3a3c;
  --present-color: #b59f3b;
  --correct-color: #538d4e;
}

body {
  position: relative;
  background-color: var(--bg-color);
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  font-size: clamp(0.5rem, 2.5vmin, 1.25rem);
  overflow: hidden;
}

.heading {
  color: white;
  font-weight: bolder;
  font-size: 3em;
  letter-spacing: 0.5rem;
  width: 100%;
  text-align: center;
  padding-bottom: 0.75rem;
  border-bottom: 1px grey solid;
  margin-bottom: 1rem;
}

.guess-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (4em)[5];
      grid-template-columns: repeat(5, 4em);
  -ms-grid-rows: (4em)[6];
      grid-template-rows: repeat(6, 4em);
  gap: 0.5em;
  margin-bottom: 1em;
}

.guess-grid .title {
  color: white;
  font-size: 2em;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.05em solid #404040;
}

.guess-grid .absent {
  background-color: var(--absent-color);
  border: none;
}

.guess-grid .present {
  background-color: var(--present-color);
  border: none;
}

.guess-grid .correct {
  background-color: var(--correct-color);
  border: none;
}

.tile {
  color: white;
  font-size: 2em;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.05em solid #404040;
}

.keyboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 1.35em))[20];
      grid-template-columns: repeat(20, minmax(auto, 1.35em));
  grid-auto-rows: 3em;
  gap: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

.keyboard .key {
  grid-column: span 2;
  font-size: inherit;
  border: none;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--key-color);
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: 0.25em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.keyboard .key-enter,
.keyboard .key-exit {
  grid-column: span 3;
  font-size: inherit;
  border: none;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--key-color);
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: 0.25em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.keyboard .key-enter > svg,
.keyboard .key-exit > svg {
  width: 1.5em;
  height: 1.5em;
  pointer-events: none;
}

.keyboard .absent {
  background-color: var(--absent-color);
}

.keyboard .present {
  background-color: var(--present-color);
}

.keyboard .correct {
  background-color: var(--correct-color);
}

.lost {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: #000000a3;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lost .text {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
}

.lost .text h1 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-size: 2rem;
}

.lost .text .try-again {
  border: none;
  font-weight: bold;
  font-size: 1.25em;
  padding: 1em 2rem;
  background-color: var(--key-color);
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: 0.25em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.win {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: #000000a3;
  opacity: 0;
}

.win .text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
}

.win .text h1 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-size: 2rem;
}

.win .text .try-again {
  border: none;
  font-weight: bold;
  font-size: 1.25em;
  padding: 1em 2rem;
  background-color: var(--key-color);
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: 0.25em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=style.css.map */